@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color:white;
}

.app{
  background-color:#14161a;  
  color: white; 
  min-height: 100vh; 
  }

  .title{
    display: flex;
    flex: 1;
    color: #0c3c4c; 
    cursor: pointer;
  }

  .banner{
    height: 400;
    display: flex;
    flex-direction: column;
    padding-top: 25;
    justify-content: space-around;
  }

  .tagline{
    display: flex;
    height: 40%; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .carousel{
    height: 50%;
    display: flex;
    align-items: center;
  }

  .carouselItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* .tableSymbol{
    display: flex;
    flex-direction: column;
  } */
  .coinRow{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  /* style = {{display: "flex", flexDirection: "column",}} */

  .coinPageContainer{
    display: flex;
  }

  .sideBar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25;
    border-right: 2px solid grey;
  }